.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  

  button {
    cursor: url('https://cdn.glitch.global/901fe2a6-c697-4c1d-ba02-ff535a3c59ba/%E6%9C%AA%E5%91%BD%E5%90%8D%E4%BD%9C%E5%93%81%2022.png?v=1709260780983'), auto;
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px; 
    font-family: 'MouseFont', sans-serif;
    transition: transform 0.3s ease; 
  }

  
  button:hover {
    transform: scale(1.1);
  }
  
  
  
  html{
    cursor: url(https://cdn.glitch.global/901fe2a6-c697-4c1d-ba02-ff535a3c59ba/%E6%9C%AA%E5%91%BD%E5%90%8D%E4%BD%9C%E5%93%81%2022.png?v=1709260780983), auto;
}

@font-face {
    font-family: 'MouseFont';
    src: url('https://cdn.glitch.global/3490dcca-0fa7-448d-bd0a-9262d7b87e86/mouse.otf?v=1702064290774') format('opentype');
}

body {
    font-family: 'MouseFont', sans-serif;
}


label, select {
  font-family: 'MouseFont', sans-serif;
}





#catAge {
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#ageInfo {
  color: #555;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  margin-top: 5px;
}
